/* globals.css o styles.css */

/* Quitar flechas en Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Solo afecta al contenedor con clase .miniatura */

/* Para navegadores WebKit (Chrome, Safari, Edge) */
.miniatura::-webkit-scrollbar {
    width: 6px; /* más delgado que antes */
}

.miniatura::-webkit-scrollbar-track {
    background: transparent; /* track transparente */
}

.miniatura::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* pulgar en gris claro */
    border-radius: 5px; /* bordes redondeados */
}

/* Para Firefox */
.miniatura {
    scrollbar-width: thin; /* tamaño del scrollbar */
    scrollbar-color: #d3d3d3 transparent; /* thumb gris claro, track transparente */
}

